
:root {
    --green: #17A589;
    --black: #000000;
    --light-blue: #96BAED;
    --gray: #D35400;
    --white: #fff;
}
.h-color{
    color: var(--white);
}

/* navbar active section start  */

.navbar-nav>li>a.active,
.navbar-nav>li>a:focus {
    margin-top: 7px;
    line-height: 10px;
    width: 100%;
    margin-top: 7px;
    text-align: center;
    background-color: var(--yellow);
    color: var(--black) !important;
    border-radius: 5px;
}

.navbar-color{
    background-color: var(--green);
    color: var(--white);
}

/* slider part */
.carousel-item > img {
    height: 500px;
}
/* slider end */

/* why weight scale  start */
.why-bg{
    background: #17A589;
}

/* why weight scale end */
